$screen-sm: 640px;
$screen-md: 768px;

$container-size-full: 970px;
$container-size-extra: 1200px;

$bg-color: #ffffff;
$font-color-main: #000000;
$accent-color: #fd926d;
$input-color: #fd926d;
$input-color-accent: #fd926d;
$input-bottom-line-style: 3px solid $input-color-accent;
$font-family-main: 'Arial', sans-serif;
$font-family-add: 'Helvetica Neue LT Std', 'Arial', sans-serif;

$header-height-normal: 136px;
$footer-height-normal: 272px;

$header-border-style: 1px solid #444444;

$header-lined-border-style: 1px solid #d8d8d8;

$icon-sprite01-url: url(../img/icons.png);